@media (max-width: 990px) {
  #hero .hero {
    justify-content: center;
  }

  #hero .hero-info {
    align-items: center;
    width: unset;
  }

  #hero .hero-img {
    display: none;
  }

  .hero-info h1, p, h2 {
    text-align: center;
  }
}  

@media (max-width: 480px) {

 .listaNavbar{
    position: absolute;
    top: 90px;
    left: 5%;
    right: 5%;
    width: 35%;
    flex-direction: column;
    background: #131415;
    border: 2px solid #FFA400;
    border-top: 0px;
    border-radius: 0px 0px 15px 15px;
    align-items: center;
    padding: 45px 30px;
    gap: 25px ;
    z-index: 2;
    display:none;
    
  }
.listaNavbar a{
  font-size: 18px;

}
.menu-label{
  display: flex;
  cursor: pointer;
  
}
.menu-label i{
  height: 10px;
    
}


#menu-toggle:checked + .listaNavbar{
  display: flex;
}

}


