:root {
    --color-background: #131415;
    --color-primary: #FFA400;
    --color-secondary: #FC2933;
    --color-text: #FFFFFF;
    --color-shadow: rgba(1, 2, 7, 0.5);
    --color-card: #252525;
    --color-gradient: linear-gradient(98.81deg, #FFA100 -0.82%, #FF005C 101.53%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
