:root {
    --color-background: #131415;
    --color-primary: #FFA400;
    --color-secondary: #FC2933;
    --color-text: #FFFFFF;
    --color-shadow: #000000;
    --color-card: #252525;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}